*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

# Build artifacts
*.apk
*.apks
*.aab
app/release/

# Certificates and keys
*.jks
*.keystore

